.overview-header-column-inner-time{
    font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 26px;
color: #E69722;
}
.overview-header-column-action-button{
    background: #2574FF;
border-radius: 13px;
padding: 0px 24px;
font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 26px;
color: #F7F7F7;
border: 0;
margin-right:56px ;
}
.overview-header-column-action-bar{
    display: inline;
    opacity: 0.2;
 border: 1px solid #3F4856;
 margin: 0px 18px;
}