.Body_par{
    background-color:rgba(246, 246, 246, 1);
    height:100%;
    /* margin:0px;
    padding:0px; */
}

.body-container{
  display: flex;
  flex-direction: row; 
  
}
.main-body{
    margin:0px;
    padding:0px;
    flex: 1;
    z-index:0;
}